<html>
<head>
<title>{{ title }}</title>
</head>
<body>
<table border="1" cellpadding="1" cellspacing="1">
    <center><h1>REAPR-web : Reporting Events, Anomalous Phenomena et Requests - Web</h1></center>
    <h5 align="left"><a href="{{ url_for('index') }}">List All</a> | <a href="{{ url_for('events') }}">List Events</a> | <a href="{{ url_for('thoughts') }}">List Thoughts</a> | <a href="{{ url_for('requests') }}">List Requests</a> | <a href="{{ url_for('export') }}">Export as CSV</a></h5>
    <tr>
{% for heading in headings %}
        <td>{{ heading }}</td>
{% endfor %}
    </tr>
{% for row in data %}
    <tr>
    {% for d in row %}
        <td>{{ d }}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
</body>
</html>
